
<!--Utilizando o bootstrap para criação da tabela Lista de Alunos-->
<table class="table table-dark">
    <caption> Lista de Alunos</caption>
    <thead>
      <tr>
      <!-- Nomeando as colunas-->    
        <th scope="col">nome</th>
        <th scope="col">Ru</th>
        <th scope="col">Curso</th>
        <th scope="col">Data Nascimento</th>
      </tr>
    </thead>
    <tbody>
      <tr>
 <!-- Interpolação do cadastro1 criado no cadastro-component.components.ts--> 
        <th scope="row">{{name1}}</th>
        <td>{{NRU1}}</td>
        <td>{{Curso1}}</td>
        <td>{{DtNascimento1}}</td>
      </tr>
      <!-- Interpolação do cadastro2 criado no cadastro-component.components.ts-->
      <tr>
        <th scope="row">{{name2}}</th>
        <td>{{NRU2}}</td>
        <td>{{Curso2}}</td>
        <td>{{DtNascimento2}}</td>
      </tr>
      <!-- Interpolação do cadastro3 criado no cadastro-component.components.ts-->
      <tr>
        <th scope="row">{{name3}}</th>
        <td>{{NRU3}}</td>
        <td>{{Curso3}}</td>
        <td>{{DtNascimento3}}</td>
      </tr>
      <!-- Interpolação do cadastro4 criado no cadastro-component.components.ts-->
      <tr>
        <th scope="row">{{name4}}</th>
        <td>{{NRU4}}</td>
        <td>{{Curso4}}</td>
        <td>{{DtNascimento4}}</td>
      </tr>
      <!-- Interpolação do cadastro5 criado no cadastro-component.components.ts-->
      <tr>
        <th scope="row">{{name5}}</th>
        <td>{{NRU5}}</td>
        <td>{{Curso5}}</td>
        <td>{{DtNascimento5}}</td>
      </tr>

    </tbody>
  </table>